/*
================================================================================
    annovar-nf: nextflow.config
================================================================================
*/

manifest {
    name            = 'annovar-nf'
    author          = 'Asset Daniyarov'
    homePage        = 'https://github.com/adaniyarov/annovar-nf'
    description     = 'Nextflow pipeline for scalable multi-sample ANNOVAR annotation (hg19/hg38)'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version         = '1.0.0'
}

process {
    withLabel: 'process_low' {
        cpus   = 2
        memory = '4.GB'
        time   = '2.h'
    }
    withLabel: 'process_high' {
        cpus   = 8
        memory = '32.GB'
        time   = '12.h'
    }
    errorStrategy = 'retry'
    maxRetries    = 2
}

profiles {
    standard {
        process.executor = 'local'
    }
    slurm {
        process.executor     = 'slurm'
        process.queue        = 'normal'
        executor { queueSize = 50 }
    }
    docker {
        docker.enabled    = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }
    test {
        params.input      = 'test/samplesheet.csv'
        params.genome     = 'hg38'
        params.annovar_db = 'test/humandb'
        params.annovar_src = 'test/annovar'
        params.outdir     = 'test/results'
    }
}

timeline {
    enabled = true
    file    = "results/pipeline_info/timeline.html"
}
report {
    enabled = true
    file    = "results/pipeline_info/report.html"
}
trace {
    enabled = true
    file    = "results/pipeline_info/trace.txt"
}
dag {
    enabled = true
    file    = "results/pipeline_info/dag.html"
}

timeline.enabled = false
report.enabled   = false
trace.enabled    = false
dag.enabled      = false
